.tag__info {
  font-size: 24px;
  border: 1px solid #ddd;
  background-color: #eee;
  margin: 0 5px 10px;
  &__name {
    text-align: center;
    font-family: 'Avenir';
  }
}
ul.proto-tag-list.list-inline {
  list-style-type: none;
  li.tag-list {
    margin-top: 10px;
  }
}
